<li <%= p params; "class=active" if params[:controller] == 'dj_dashboard/jobs' %>><%= link_to "Jobs", jobs_path %></li>
<li <%= "class=active" if params[:controller] == 'dj_dashboard/settings' %>><%= link_to "Settings", settings_path %></li>
