<h1>Jobs</h1>

<hr>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Queue</th>
      <th>Priority</th>
      <th>Attempts</th>
      <th>Method</th>
      <th>Run at</th>
      <th>Created at</th>
      <th>Updated at</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'job', collection: @jobs %>
  </tbody>
</table>
